* {
  padding: 0;
  margin: 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heroLeft {
  text-align: center;
}
@media screen and (min-width: 376px) {
  .heroRight {
    width: 25vw;
    background-image: url(/teamWork/image/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .heroLeft {
    width: 75vw;
  }
}
/* @media screen and (max-width: 376px) {
  .heroLeft {
  }
} */
